# 自动标准化换行符为 LF（Windows 上开发依然无影响）
* text=auto

# C# 项目
*.cs diff=csharp
*.xaml diff=xml

# 可读格式
*.md text
*.txt text

# 防止 Git 把图标、图片等当成文本
*.png binary
*.jpg binary
*.ico binary
*.bmp binary

# 确保 .bat、.sh 脚本在不同平台下能正常执行
*.sh text eol=lf
*.bat text eol=crlf
